@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  font-family: "Overpass", sans-serif;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

.Swiper-Container .swiper-button-next,
.Swiper-Container .swiper-button-prev {
  position: absolute;
  top: 32px;
  z-index: 40;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.Swiper-Container .swiper-button-prev {
  right: 50px;
  left: auto;
}
.Swiper-Container .swiper-button-next::after,
.Swiper-Container .swiper-button-prev::after {
  font-size: 16px;
  z-index: 40;
}

.description_pastYear::-webkit-scrollbar {
  display: none;
}

.outlinedIt {
  transition: all 0.5s ease-in-out;
  outline: 2px rgba(226, 224, 224, 0.876), solid;
}
.beforeTrainagle::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #b91c1c;
}
