@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  font-family: "Overpass", sans-serif;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Swiper-Container .swiper-button-next,
.Swiper-Container .swiper-button-prev {
  position: absolute;
  top: 32px;
  z-index: 40;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  color: #1c1917;
  font-weight: 700;
}
.Swiper-Container .swiper-button-prev {
  right: 50px;
  left: auto;
}
.Swiper-Container .swiper-button-next::after,
.Swiper-Container .swiper-button-prev::after {
  font-size: 16px;
  z-index: 40;
}

.description_pastYear::-webkit-scrollbar {
  display: none;
}
